<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body
        {
            background-color: aquamarine;
        }
    </style>
</head>
<body>
    <center>
        <h1>Admin Home Page</h1>
        <h1>Welcome {{session["uname"]}}!!</h1>
        <hr/>
        <form method="post">
        <table border="1">
            <tr><td><a href="/ShowAllCakes">Show All Cakes</a></td></tr>
            <tr><td><a href="/ShowAllCategories">Show All Categoires</a></td></tr>
            <tr><td><a href="/AdminLogout">Logout</a></td></tr>
        </table>
    </form>
    </center>
</body>
</html>